// article module

$padding-size: 15px;
$color-234: #234;
$color-eee: #eee;
$color-fff: #fff;
$title-fsize: 25px; 
$title-fweight: 100;
$title-mbottom: 15px;
$full-text-height: auto;
$text-color: #757575;
$text-fsize: 16px;
$word-break: break-word;
$line-height: 28px;
$article-nav-padding: 15px;
$icon-wh: 12px;
$icon-bsize: 2px;

.article-container {
    @extend .list-container;

    // padding: $padding-size;
    // background-color: $color-234;
}

.article-container .content {
    padding: $padding-size;
    background-color: $color-fff;

    .title {
        background-color: $color-eee;
        font-size: $title-fsize;
        font-weight: $title-fweight;
        margin-bottom: $title-mbottom;
        padding: $padding-size;
    }
    
    .author {
        background-color: $color-eee;
        margin-bottom: $title-mbottom;
        padding: $padding-size;
    }

    .full-text {
        height: $full-text-height;
        padding: $padding-size;
        background-color: $color-eee;
        color: $text-color;
        font-size: $text-fsize;
        word-break: $word-break;

        p {
            line-height: $line-height;
            margin-bottom: $line-height;
        }
    }
}

.article-container .article-nav {
    background-color: $color-fff;
    padding: $padding-size;

    &:after {
        content: '';
        clear: both;
        display: block;
    }

    div {
        background-color: $color-eee;
        display: inline-block;
        padding: $article-nav-padding;

        a {
            display: inline-block;
            vertical-align: middle;
        }

        .icon {
            padding: 5px;
            font-size: 0;
        }
    }

    .prev {
        float: left;

        .prev-text {
            &:hover {
                text-decoration: underline;
            }
        }

        .icon {
            .icon-prev {
                display: inherit;
                width: $icon-wh;
                height: $icon-wh;
                border-top: $icon-bsize solid $color-234;
                border-left: $icon-bsize solid $color-234;
                transform: rotate(-45deg);
            }
        }
    }

    .next {
        float: right;

        .next-text {
            &:hover {
                text-decoration: underline;
            }
        }

        .icon {
            .icon-next {
                display: inherit;
                width: $icon-wh;
                height: $icon-wh;
                border-top: $icon-bsize solid $color-234;
                border-right: $icon-bsize solid $color-234;
                transform: rotate(45deg);
            }
        }
    }
}

.soso-comment {
    padding: $padding-size;
}