// basic style

$main-padding: 15px 5px;
$main-bg-color: #6D97AB;
$footer-bg-color: #d5e2ef;

$tmp-bg-color: #eee;

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

header {
    background-color: $tmp-bg-color;
    padding: $main-padding;

    &:after {
        content: '';
        clear: both;
        display: block;
    }
}

.soso-main {
    background-color: $tmp-bg-color;
    padding: $main-padding;
    margin-top: 5px;
}

footer {
    @extend .soso-main;
    background-color: $footer-bg-color;
}

p {
    margin: 0;
    // color: #212529;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}