// logo class

.soso-logo {
    background-color: #E66F29;
    color: #fff;

    padding: 15px;
    font-size: 30px;
    line-height: 44px;
    text-align: center;

    height: 44px;
    width: 88px;
    border-radius: 15px;
}