// logo class

.soso-logo {
    height: inherit;
    display: inline-block;

    a {
        display: inherit;
        height: 36px;
        margin-top: 6px;

        img {
            height: inherit;
        }
    }
}