// nav class

.soso-nav {
    height: auto;
    background-color: #6D97AB;
    padding: 8px 16px;

    &:after {
        content: '';
        clear: both;
        display: block;
    }

    // logo class

    .soso-logo {
        height: inherit;
        background-color: #444;
        font-size: 0; // clear default margin-bottom of img

        a {
            height: inherit;
            border: 2px solid #fff;
            border-radius: 8px;
            float: right;
            // display: inline-block;

            img {
                height: 36px;
                max-width: 100%;
                margin-left: 0; 
            }

            // when screen is mobile        
            @media only screen and (max-width: 768px) {
                & {
                    float: left;
                }
            }
        }
    }

    // mobile menu icon

    .menu-mobile {
        height: inherit;
        background-color: #123;
        font-size: 0;
        display: none;       

        a {
            height: inherit;
            border: 2px solid #fff;
            border-radius: 8px;
            float: right;
            // display: inline-block;

            img {
                height: 36px;
                max-width: 100%;
            }
        }

        // when screen is mobile
        @media only screen and (max-width: 768px) {
            & {
                display: block;
            }
        }
    }

    // menu-normal

    .menu-normal {
        background-color: #234;
        height: 40px;
    }
}