$bg_color: #eee;

@mixin rounded-corners($sizes) {
    border-radius: $sizes;
    -webkit-border-radius: $sizes;
    -moz-border-radius: $sizes;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;

    p {
        background-color: $bg_color;
        padding: 15px;
        margin-top: 10px;
        @include rounded-corners(5px);
    }
}